// font weights
$font-weight-strong: 600;
$font-weight-normal: 300;

// font sizes
$font-size-md: 36px;

// screen sizes
$screen-lg: 1200px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-md-max: $screen-md - 1;

// colors
$grey: #e1e1e1;