@import './shared/_variables.scss';

.App {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-strong;
}

h2 {
  font-size: $font-size-md;
}

.container {
  @media screen and (min-width: $screen-lg){
    max-width: 1320px;
  }

  @media screen and (min-width: $screen-sm) and (max-width: $screen-md-max){
    max-width: 600px;
  }
}
