.App {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; }

h2 {
  font-size: 36px; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1320px; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 600px; } }
